.app-container{
  height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/abstract-technological-background_23-2148897676.jpg?size=626&ext=jpg&uid=R111278018&ga=GA1.2.1451463667.1690718855&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  .app-container{
    flex-direction: column;
  }
}

.footer{
  background-color: #F30050;
  width: 100%;
  height: 7vh;
}

::placeholder { 
  color: #f1f5f9;
  font-weight: 600;
  font-size: 14.5px;
  letter-spacing: 0.4px;
}

:-ms-input-placeholder {
  color: #f1f5f9;
  font-weight: 600;
  font-size: 14.5px;
  letter-spacing: 0.4px;
}

::-ms-input-placeholder {
  color: #f1f5f9;
  font-weight: 600;
  font-size: 14.5px;
  letter-spacing: 0.4px;
}

::-webkit-scrollbar{
  display: none;
}

.link-element{
  text-decoration: none;
  width: 100%;
}